@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1>Bem Vindo a LIVROS</h1>

 <a class="nav-link text-blue" asp-area="" asp-controller="Autors" asp-action="Index">Autores</a>
 <a class="nav-link text-blue" asp-area="" asp-controller="Livroes" asp-action="Index">Livros</a>

</div>
